{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="" class="brand-link">
      <img src="{% static "dist/img/BV_logo.png" %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">AcadME</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
                {% if student.profile_pic %}
            <img src="{{ student.profile_pic }}" class="img-circle elevation-2" alt="User Image">
            {% else %}
                <img src="{% static 'dist/img/Tfemale_logo.png' %}" class="img-circle elevation-2" alt="User Image">
            {% endif %}
        </div>
        <div class="info">
          <a href="{% url 'student_profile' %}" class="d-block">{{ user.first_name }} {{ user.last_name }}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item">
             {% url 'student_home' as student_home %}
           <!-- {% url 'edit_staff' staff_id=id as edit_staff %}-->
            <a href="{{ student_home }}" class="nav-link  {% if request.path == student_home %} active {% endif %}"><!--{% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}-->
              <i class="fas fa-home" style="margin-right: 8px;"></i>
              <p>
                Home
              </p>
            </a>
          </li>
             <li class="nav-item">
             {% url 'student_view_attendance' as student_view_attendance %}
           <!-- {% url 'edit_staff' staff_id=id as edit_staff %}-->
            <a href="{{ student_view_attendance }}" class="nav-link  {% if request.path == student_view_attendance %} active {% endif %}"><!--{% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}-->
              <i class="fa fa-calendar" style="margin-right: 8px;"></i>
              <p>
                View Attendance
              </p>
            </a>
          </li>
            <li class="nav-item">
             {% url 'student_feedback' as student_feedback %}
           <!-- {% url 'edit_staff' staff_id=id as edit_staff %}-->
            <a href="{{ student_feedback }}" class="nav-link  {% if request.path == student_feedback %} active {% endif %}"><!--{% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}-->
              <i class="fas fa-comment-dots" style="margin-right: 8px;"></i>
              <p>
                FeedBack Message
              </p>
            </a>
          </li>
            <li class="nav-item">
             {% url 'student_view_result' as student_view_result %}
           <!-- {% url 'edit_staff' staff_id=id as edit_staff %}-->
            <a href="{{ student_view_result }}" class="nav-link  {% if request.path == student_view_result %} active {% endif %}"><!--{% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}-->
              <i class="fas fa-id-card" style="margin-right: 8px;"></i>
              <p>
                Grade Card
              </p>
            </a>
          </li>
            <li class="nav-item">
             {% url 'student_notifications' as student_notifications %}
           <!-- {% url 'edit_staff' staff_id=id as edit_staff %}-->
            <a href="{{ student_notifications }}" class="nav-link  {% if request.path == student_notifications %} active {% endif %}"><!--{% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}-->
              <i class="fas fa-bell" style="margin-right: 8px;"></i>
              <p>
                Notifications
              </p>
            </a>
          </li>
            <li class="nav-item">
   {% url 'student_view_assignments' as student_view_assignments %}
 <!-- {% url 'edit_staff' staff_id=id as edit_staff %}-->
  <a href="{{ student_view_assignments }}" class="nav-link  {% if request.path == student_view_assignments %} active {% endif %}"><!--{% if request.path == manage_staff %} active {% endif %} {% if request.path == edit_staff %} active {% endif %}-->
    <i class="fas fa-eye" style="margin-right: 8px;"></i>
    <p>
      View Assignments
    </p>
  </a>
</li>

            <li class="nav-item">
  {% url 'student_timetable_view' as student_timetable_view %}
  <a href="{% url 'student_timetable_view' %}" class="nav-link {% if request.path == student_timetable_view %} active {% endif %}">
    <i class="fas fa-table" style="margin-right: 8px;"></i>
    <p>View Timetable</p>
  </a>
</li>
            <li class="nav-item">
  {% url 'view_syllabus_books' as view_syllabus_books %}
  <a href="{% url 'view_syllabus_books' %}" class="nav-link {% if request.path == view_syllabus_books %} active {% endif %}">
    <i class="fa fa-calendar" style="margin-right: 8px;"></i>
    <p>View Materials</p>
  </a>
</li>
              <li class="nav-item">
          <a class="nav-link" href="{% url 'college_gallery' %}">
            <i class="fas fa-award" style="margin-right: 8px;"></i>
              <p>Achievements & Gallery</p>
          </a>
        </li>

   <li class="nav-item">
  <a class="nav-link" href="{% url 'student_about' %}">
    <i class="fas fa-info-circle" style="margin-right: 8px;"></i>
      <p>About Us</p>
  </a>
</li>

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>